* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    margin-top: 4.3rem;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav img {
    width: 4rem;
}

.nav .material-symbols-outlined {
    color: red;
    font-size: 1.8rem;
}

.nav-icons {
    display: flex;
    gap: 1rem;
}