* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*____________ nav-menu ____________*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: white;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 999;
}

.nav img {
    width: 3.5rem;
    cursor: pointer;
}

.nav .material-symbols-outlined {
    font-size: 1.8rem;
}

.nav-icons {
    display: flex;
    gap: 1rem;
}

/* now it trargets both icons, make it each one */
.nav-icons:hover {
    color: green;
    cursor: pointer;
}

.menu-icon:hover {
    cursor: pointer;
}

.nav-links {
    display: none;
}

.nav-links ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-links ul li {
    display: inline-block;
    padding: 0.5rem;
}

.nav-links ul li span {
    vertical-align: middle;
}

.smiley-icon {
    display: none;
}

@media(min-width: 1024px) {

    .nav-icons {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .nav-links {
        display: inline-block;
        color: grey;
    }

    .nav-links ul li:hover {
        color: green;
        cursor: pointer;
    }

    .smiley-icon {
        display: inline-block;
        color: grey;
        cursor: pointer;
    }
}

/*____________ header____________ */

.header {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0.8rem;
}

.header-logo img {
    width: 8.4rem;
    display: none;
}

.search-bar {
    background-color: white;
    box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.2);
    width: 44rem;
    height: 3rem;
    border-radius: 1.5rem;
    display: none;
}

.options {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    max-width: 44rem;
}

.options ul {
    list-style: none;
    padding: 0;
}

.options ul li {
    display: inline-block;
    /* these 2 make the text center of the pink box */
    height: 2rem;
    line-height: 2rem;
    background-color: #e76f6f;
    color: white;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.2rem;
}

.options ul li:hover {
    background-color: #760934;
}

.options ul li.special {
    background: #5d7ba2;
}

.options ul li.special:hover {
    background-color: #284971;
}

@media(min-width: 1024px) {

    .header {
        height: 30rem;
        width: 100%;
    }

    .header-logo img {
        display: block;
    }

    .search-bar {
        display: block;
    }
}

/*____________ main____________ */

.main {
    max-width: 60.6rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.big-box {
    flex: 1 0 calc(50% - 0.2rem);
    max-width: calc(50% - 0.2rem);
    max-height: 29rem;
    position: relative;
    margin: 0.2rem 0;
    overflow: hidden;
}

.big-box:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.big-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0 0.5rem;
}

.title-text {
    background-color: #4e9a5d;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
}

.title-text-sponsored {
    background-color: #e5b5ac;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
}

.sponsored-tag {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e5b5ac;
    color: white;
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* put the picture as the background, url. Tip from Asaf, hence why it looks different from big-box */
.smal-box {
    position: relative;
    width: 25%;
    padding-top: 25%;
    background-image: url(assets/mjuksproda-hallongrottor.jpg.webp);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.smal-text {
    width: 100%;
    background-color: rgba(46, 43, 43, 20%);
    border-radius: 0.5rem;
}

.smal-text p {
    margin: 0;
    padding: 0.5rem;
    color: white;
    width: 100%;
}

@media(max-width: 650px) {

    .big-box {
        flex: 1 0 calc(100% - 0.4rem);
        max-width: calc(100% - 0.4rem);
        margin: 0.2rem;
    }

    .smal-box {
        flex: 1 0 calc(50% - 0.4rem);
        max-width: calc(50% - 0.4rem);
        margin: 0.2rem;
    }
}

footer {
    background-color: #eabdc53d;
    color: white;
    padding: 3rem;
    margin-top: auto;
}